#block_4 {
    display: grid;
    margin: 100px;
    grid-gap: 20px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
}

h2 {
    color: #18216D;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
}

.text {
    color: #18216D;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.container {
    width: 300px;
    height: 108px;
    color: #18216D;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}

.checkbox2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.start_free_trail{
    padding: 15px;
    background-color: #005FEC;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
}

.foto1, .foto2, .foto3 {
    position: relative;
}

.foto1 {
    top: 35px;
    z-index: 1;
}

.foto2 {
    left: -50px;
    z-index: 2;
}

.foto3 {
    top: 80px;
    right: 160px;
    z-index: 3;
}
